@import "../../../scss/mixins";
@import "../../../scss/variables";

.container {
  @include flex-vertical-center;
  align-items: flex-start;
  min-width: 15rem;
  padding: 2rem 1rem;
  position: relative;
  z-index: 2;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-color: #fff;
    z-index: -2;
    border-radius: 10px;
    transform: skew(2deg, -2deg) translateX(-5%);
  }
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid $primary-color;
    border-radius: 10px;
    z-index: -1;
  }
}

.wrapper {
  @include flex-vertical-center;
}

.heading {
  font-size: $fontSize-m;
  font-weight: $bold;
  color: $darkfont;
  text-transform: capitalize;
  margin-bottom: 1rem;
  margin: 1rem auto;
}

.headingSmall {
  font-size: $fontSize-s;
  font-weight: $semi-bold;
  color: $darkfont;
  margin: 0.8rem 0;
  align-self: flex-start;
}
.image {
  min-width: 25rem;
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.info {
  width: 100%;
  padding: 1rem 0;
}

.ingredient {
  width: 23rem;
  display: grid;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: auto;
  justify-content: space-between;
  font-size: $fontSize-xs;

  span {
    display: block;
  }
}

.amount {
  display: flex;
  justify-content: flex-start;
}

.button {
  margin-top: 30px;
  align-self: center;
  border: 1px solid $primary-color;
  border-radius: 50%;
}

@media (min-width: $breakpoint-tablet) {
  .heading {
    font-size: $fontSize-l;
  }
  .headingSmall {
    font-size: $fontSize-m;
  }
  .ingredient {
    font-size: $fontSize-s;
  }
}
