@import "../../../scss/mixins";
@import "../../../scss/variables";

.container {
  @include flex-vertical-center;
  padding-bottom: 10px;
  border-radius: 10px;
  position: relative;
  z-index: 2;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-color: #fff;
    z-index: -2;
    border-radius: 10px;
    transform: skew(1deg, -1deg) translateX(-2%);
  }
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid $secondary-color;
    border-radius: 10px;
    z-index: -1;
    border-radius: 10px;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 20px;
}

.heading {
  width: 100%;
  font-size: $fontSize-l;
  color: $darkfont;
  font-weight: $semi-bold;
  text-transform: uppercase;
  align-self: center;
}

.button {
  align-self: flex-end;
  background-repeat: no-repeat;
}
