@import "../../scss/variables";

.container {
  position: fixed;
  top: 10px;
  right: -61vw;
  z-index: 2;
  padding: 20px 50px;
  height: 100%;
  width: 60vw;
  background-color: #fff;
  box-shadow: 5px 0 10px 5px $grey300;
  border-radius: 10px;
  border: 1px solid $grey300;
  transition: all 0.4s ease-in-out;
  overflow-y: auto;
  scrollbar-color: $secondary-color transparent;

  &::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
  }
  &::-webkit-scrollbar-track {
    background-color: $grey100;
  }
}

.heading {
  font-size: $fontSize-xl;
  color: $darkfont;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}

.heading::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 20%;
  height: 80px;
  width: 50px;
  background-image: url("../../assets/carrotGreen.png");
  background-size: contain;
  transform: rotate(30deg);
}
.heading::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20%;
  height: 80px;
  width: 50px;
  background-image: url("../../assets/carrotOrange.png");
  background-size: contain;
  transform: rotate(300deg);
}
