@import "../../../scss/variables";

.button {
  width: 130px;
  height: 70px;
  color: $darkfont;
  font-size: $fontSize-m;
  font-weight: $bold;
  border-radius: 20px 0 0 20px;
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
  cursor: pointer;
}
