@import "../../scss/variables";

.wrapper {
  min-height: 80vh;
  width: 100%;
}

.heading {
  color: $darkfont;
}

.buttonWrapper {
  position: fixed;
  right: 4rem;
  top: 10rem;
  z-index: 100;
}

.button {
  position: relative;

  &:hover {
    background-color: darken($secondary-color, 5%);
    top: 3px;
  }
  &:active {
    top: 6px;
  }
}

@media (min-width: $breakpoint-desktop) {
  .buttonWrapper {
    right: 5rem;
    top: 5rem;
  }
}
