@import "../../../scss/variables";

label,
.heading {
  display: block;
  font-size: $fontSize-m;
  font-weight: $semi-bold;
  margin: 20px 0 10px 0;
}
select {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: $fontSize-m;
  border: none;
  border-radius: 5px;
  background-color: lighten($secondary-color, 30%);
  appearance: none;
  cursor: pointer;
  margin-bottom: 20px;
}

option {
  background-color: white;
}

.meals {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
}

select[name="recepie"] {
  margin-top: 20px;
}

.button {
  margin: 15px auto;
  position: relative;
}
.button:hover {
  top: 3px;
}

.button:active {
  top: 6px;
}

.recepies {
  padding: 30px;
  width: 60%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid $secondary-color;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 10px $grey300;
}

.search {
  background-color: $grey100;
  width: 100%;
  border: none;
  width: 300px;
  font-size: $fontSize-s;
}

.list {
  width: 100%;
  overflow: auto;
}

.listItem {
  list-style-type: none;
  width: 100%;
  padding: 5px;
  border-top: 1px solid $grey100;
  border-top: 1px solid $grey100;
}
