@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap");
@import "./scss/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $base-font-family;
}

a {
  text-decoration: none;
  &:active,
  &:hover,
  &:visited {
    color: inherit;
  }
}

.bgPrimary {
  background-color: $primary-color;
}

.bgSecondary {
  background-color: $secondary-color;
}

.bgTertiary {
  background-color: $tertiary-color;
}
