@import "../../scss/mixins";
@import "../../scss/variables";

.wrapper {
  @include flex-vertical-center;
  min-height: 80vh;
}
h3 {
  color: $darkfont;
  font-weight: $semi-bold;
  background-color: #fff;
}

.buttons {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
}

.button {
  width: 150px;
  margin-left: 20px;
  position: relative;
  border: none;
  border-radius: 30px;
  box-shadow: 0 6px darken($tertiary-color, 10%);

  &:hover {
    box-shadow: 0 4px darken($tertiary-color, 10%);
    top: 3px;
  }
  &:active {
    box-shadow: 0 0 darken($tertiary-color, 10%);
    top: 6px;
  }
}
.classActiveBtn {
  box-shadow: none;
  background-color: darken($tertiary-color, 10%);

  &:hover {
    box-shadow: none;
    top: 0;
  }
  &:active {
    box-shadow: none;
    top: 0;
  }
}

.buttonGenerate {
  margin-top: 50px;
  border-radius: 5px;
  position: relative;
  color: darken($tertiary-color, 30%);
  border: 2px solid darken($tertiary-color, 10%);
  &:hover {
    background-color: darken($tertiary-color, 10%);
    color: #fff;
  }
  &:active {
    transform: scale(0.98);
  }
}
